body{background-color:#a95c68}

.main{
text-align:center;
background-color:#7c0a02;
text-transform:uppercase;
color:#fff;
padding:25px;
}
.main h1{
border:2px solid #fff;
border-width:4px 6px 2px 2px;
border-radius:20px;
width:600px;
padding:10px;
display:inline-block;
text-shadow:1px 2px 3px #f00;
word-spacing:10px;
letter-spacing:4px;
}
.clearflix{clear:both;}

nav
{
background-color:#996666;
}
nav ul.bar{
list-style:none;
padding:15px;
display:inline-block;
width:50%;
}
nav ul.bar li{
display:inline-block;
padding:0 20px;
}
nav ul.bar li a:hover 
{
font-weight:bold;
font-size:20px;
font-style:italic;
text-decoration:underline;
}
nav ul.bar li a{
color:#fff;
text-decoration:none;
font-weight:bold;
}

.input-block{
float:right;
width:50%;
padding:10px;
text-align:right;
}

.input-block input{
border:none;
padding:3px 3px 3px 10px;
border-radius:0px 10px 10px 0px;
outline:none;
}
.input-block button{
background:#efefef;
border:none;
padding:3px;
margin-right:-5px;
color:#757575;
border-radius:10px 0px 0px 10px;
outline:none;
}

.input-block button:hover {
color:#fff;
border-radius:10px 0px 0px 10px;
background:#757575;
}



.post{
width:60%;
float:left;
height:3000px
}
article{
background-color:#e5ccc9;
border:1px solid #DDD;
margin:20px;
padding-bottom:10px;
}
article header{
background-color:#98777b;
color:#fff;
padding:10px;
}
article section{
padding:15px;
}
article progress {
float:right;
margin:5px 30px 5px 0;
width:40%
}
article .info span{
display:inline-block;
margin:5px 0;
}
article section figure code{
background-color:#fff;
display:block;
width:70%;
text-align:center;
margin-top:5px;
padding:5px;
border:1px solid #ccc;
}
article section figure figcaption{
margin-top:10px;
}
article section figure{
background-color:#fff;
padding:10px;
margin-top:10px;
border:1px solid #ccc;
}
article section .ronaldo{
width:350px
}

article section div.rad{
padding:30px;
background-color:#ffd;
width:80%;
height:200px;
margin-top:10px;
border:1px solid #ccc;
border-radius:0px 100px 0px 20px;
overflow:hidden;
-Webkit-box-shadow:10px 15px 10px #bfbfbf;
-mos-box-shadow:10px 15px 10px #bfbfbf;
-o-box-shadow:10px 15px 10px #bfbfbf;
box-shadow:10px 15px 10px #bfbfbf;
}
article section div.rad:hover {
transform:translate(60px,0px) scale(1.07);
}
article section div.rad p{
width:50%;
line-height:1.7;
float:left;
height:100%;
}
article section div.rad div.ic i{
font-size:80px;
display:block;
width:60%;
margin:30px auto;
}
article section div.rad div.ic{
float:right;
width:50%;
height:100%;
}
aside{
width:40%;
float:right;

}
aside section{
background-color:#e5ccc9;
margin:20px;
padding:10px;
border:1px solid #ccc;
margin-bottom:20px;
overflow:hidden;
}
aside section ul{
margin-top:10px;
}
aside section ul li{
line-height:1.7;
}
aside section ul li mark{
background-color:#8888ff;
color:#ffff99;
}
aside section h3{
background-color:#98777b;
color:#fff;
padding:5px;
}
aside section div.appsize{
width:100%;
overflow:hidden;
}
aside section div.appsize div.lf{
width:40%;
float:left;
background-color:#f00;
padding:20px;
}
aside section div.appsize div.rt{
width:60%;
float:right;
background-color:#00f;
}
aside section audio{
margin:10px;
background:none;
border:none;
}
section form input{
margin:10px;
}
section .New{
background-color:#e5ccc9;
padding:10px;
}
section .New [type="number"]{
border:2px solid #ccc;
width:60px;
outline:none;
}


/*
.subim{
max-height:30px;
border-radius:30px;
display:block;
margin:10px;
}
*/


aside .New input{
display:block;
margin-bottom:10px;
}
footer {
background-color:#996666;
color:#ddd;
padding:10px;
height:50px;
line-height:2;
}
footer ul.media{
float:right;
}
footer ul.media li{
padding:0 5px;
display:inline-block;
}
footer ul.media li i{
background:none;
color:#ddd;
font-size:20px;
}
footer ul.media li i:hover {
color:#996666;
background:#fff;
padding:5px;
border-radius:50%;
transform:rotate(180deg);
transform:scale(1.5,1.5);
}
/*
.main{position:fixed;width:100%;}
nav{position:fixed;top:120px;width:100%;border:1px solid #ccc;}
aside.one{position:fixed;right:10px;top:180px;height:600px;overflow:scroll;border:10px solid #ccc;}
aside.two{position:fixed;right:10px;top:790px;height:600px;overflow:scroll;border:10px solid #ccc;}
.post {position:fixed;top:180px;height:1230px;overflow:scroll}*/
#c{
margin:300px auto;
display:block;
border:1px solid #ccc;
}
svg{
margin:300px auto;
display:block;
}
circle{
fill:#f00;
stroke:#080;
stroke-width:8;
opacity:.4;
}
circle:hover {
opacity:1;
}



